<% provide(:Inicio, "active") %>
<% provide(:Title, "Inicio") %>

<div class="jumbotron">
  <h1>Votaciones Plebiscito 2016</h1>
  <p>Aquí podrá encontrar su puesto de votación y consultar la ubicación del mismo</p>
  <p><a class="btn btn-primary btn-lg" href="/main/cedula" role="button">Buscar mi puesto</a></p>
  <p><a class="btn btn-primary btn-lg" href="/stats" role="button">Estadísticas</a></p>
</div>
