<strong><h1>¡Felicidades por haber ejercido su derecho al voto!</h1></strong>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default"><%= link_to 'Nuevo Votante',search_votar_path(:pid => $pid )%></td></button>
</div>